.formLogin {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
    padding: 20px;
    background-color: #f8f6f6;
    box-shadow: 2px 2px 8px #cab4b4;
    border-radius: 10px;

    h2 {
        text-align: center;
    }

    input {
        padding: 15px 10px;
        border-radius: 5px;
        border: 0;
        box-shadow: inset 0px -1px 2px #d7c7c7;
        font-size: 1rem;
    }

    button {
        padding: 15px;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 10px;
        border: 0;
        box-shadow: inset 0px -1px 2px #d7c7c7;
        background-color: #323232;
        cursor: pointer;
    }
}